<!-- <app-topmenu></app-topmenu> -->
<div class="ui breadcrumb">
  <a class="active section">หน้าหลัก</a>
</div>
<h2 class="ui header">
  <img class="img" src="assets/img/forms.svg">
  <div class="content">
    แบบฟอร์ม การขอรับบริการ
    <div class="sub header">ขอติดตั้ง/ขอซื้อซอฟต์แวร์/ขอซื้ออุปกรณ์ด้านเทคโนโลยีสารสนเทศ และการขอรับบริการด้านต่างๆ</div>
  </div>
</h2>
<br>
<div class="ui three cards">
  <a routerLink="/f001/list" class="ui yellow card">
    <div class="content">
      <img class="right floated mini ui image" src="assets/img/form.svg">
      <div class="header">
        ขอทำบัตรประจำตัวพนักงานใหม่
      </div>
      <div class="meta">
        <span class="category">Form</span>
      </div>
      <div class="description">
        - บัตรสูญหาย  <br>
        - บัตรชำรุด <br>
        - เปลี่ยนชื่อ-นามสกุล
      </div>

    </div>
    <div class="extra content">
    F001
    </div>
  </a>
</div>
