<!-- <app-topmenu></app-topmenu> -->
<div class="ui breadcrumb">
  <a class="section" routerLink="/portal" >หน้าหลัก</a>
  <i class="right angle icon divider"></i>
  <div class="active section">รายการขอ</div>
</div>
<div class="ui grid">
  <div class="ten wide column">
    <h2 class="ui header">
      <img class="img" src="assets/img/form.svg">
      <div class="content">
        ขอทำบัตรประจำตัวพนักงานใหม่
        <div class="sub header"> ขอทำบัตรประจำตัวพนักงานใหม่ บัตรสูญหาย บัตรชำรุด เปลี่ยนชื่อ เปลี่ยนนามสกุล
        </div>
      </div>
    </h2>
  </div>
  <div class="six wide column">
    <button routerLink="/f001/form" class="ui orange big right floated button icon">
      <i class="icon plus square outline "></i>
      สร้างใบร้องขอ
    </button>
  </div>
</div>
<div class="ui pointing secondary menu" id="tabfrom">
    <a class="item active" data-tab="apporvepending">รอการอนุมัติ</a>
    <a class="item" data-tab="apporve">อนุมัติเสร็จสิ้น</a>
    <a class="item" data-tab="pending">กำลังดำเนินการ</a>
    <a class="item" data-tab="completed">ดำเนินการเสร็จสิ้น</a>
  </div>
  <div class="ui tab active" data-tab="apporvepending">
      <table class="ui single line selectable orange table" style="width:100%">
          <thead>
            <tr>
              <th class="wide two">วันที่ร้องขอ</th>
              <th class="wide four">วัตถุประสงค์</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>25/04/2019</td>
              <td>เพื่อการทดสอบ </td>
              <td>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ส่งคำขอ
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 1
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui label">
                  <i class="hourglass half icon"></i>
                  ผู้อนุมัติ 2
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui label">
                  ผู้อนุมัติ 3
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui label">
                  กำลังดำเนินการ
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui label">
                  ดำเนินการเสร็จสิ้น
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="ui tab" data-tab="apporve">
      <table class="ui single line selectable orange table" style="width:100%">
          <thead>
            <tr>
              <th class="wide two">วันที่ร้องขอ</th>
              <th class="wide four">วัตถุประสงค์</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>24/04/2019</td>
              <td>เพื่อการทดสอบ กำลังดำเนินการ </td>
              <td>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ส่งคำขอ
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 1
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 2
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 3
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui  label">
                  กำลังดำเนินการ
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui  label">
                  ดำเนินการเสร็จสิ้น
                </div>
              </td>
            </tr>
            <tr>
                <td>23/04/2019</td>
                <td>ทดสอบ ผู้อนุมัติ </td>
                <td>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ส่งคำขอ
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ผู้อนุมัติ 1
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui red label" data-title="เหตุผล" data-content="ระบุไม่ครบถ่วนไม่เข้าใจ">
                    <i class="ban icon"></i>
                    ผู้อนุมัติ 2
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    กำลังดำเนินการ
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    ดำเนินการเสร็จสิ้น
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
  </div>
  <div class="ui tab" data-tab="pending">
      <table class="ui single line selectable orange table" style="width:100%">
          <thead>
            <tr>
              <th class="wide two">วันที่ร้องขอ</th>
              <th class="wide four">วัตถุประสงค์</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>24/04/2019</td>
              <td>เพื่อการทดสอบ กำลังดำเนินการ </td>
              <td>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ส่งคำขอ
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 1
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 2
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 3
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui  label">
                  กำลังดำเนินการ
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui  label">
                  ดำเนินการเสร็จสิ้น
                </div>
              </td>
            </tr>
            <tr>
                <td>23/04/2019</td>
                <td>ทดสอบ ผู้อนุมัติ </td>
                <td>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ส่งคำขอ
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ผู้อนุมัติ 1
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui red label" data-title="เหตุผล" data-content="ระบุไม่ครบถ่วนไม่เข้าใจ">
                    <i class="ban icon"></i>
                    ผู้อนุมัติ 2
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    กำลังดำเนินการ
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    ดำเนินการเสร็จสิ้น
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
  </div>
  <div class="ui tab" data-tab="completed">
      <table class="ui single line selectable orange table" style="width:100%">
          <thead>
            <tr>
              <th class="wide two">วันที่ร้องขอ</th>
              <th class="wide four">วัตถุประสงค์</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>24/04/2019</td>
              <td>เพื่อการทดสอบ กำลังดำเนินการ </td>
              <td>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ส่งคำขอ
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 1
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 2
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui orange label">
                  <i class="check icon"></i>
                  ผู้อนุมัติ 3
                </div>
                <i class="angle orange right icon"></i>
                <div class="ui  label">
                  กำลังดำเนินการ
                </div>
                <i class="angle grey1 right icon"></i>
                <div class="ui  label">
                  ดำเนินการเสร็จสิ้น
                </div>
              </td>
            </tr>
            <tr>
                <td>23/04/2019</td>
                <td>ทดสอบ ผู้อนุมัติ </td>
                <td>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ส่งคำขอ
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui orange label">
                    <i class="check icon"></i>
                    ผู้อนุมัติ 1
                  </div>
                  <i class="angle orange right icon"></i>
                  <div class="ui red label" data-title="เหตุผล" data-content="ระบุไม่ครบถ่วนไม่เข้าใจ">
                    <i class="ban icon"></i>
                    ผู้อนุมัติ 2
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    กำลังดำเนินการ
                  </div>
                  <i class="angle grey1 right icon"></i>
                  <div class="ui label">
                    ดำเนินการเสร็จสิ้น
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
  </div>

