<!-- <app-topmenu></app-topmenu> -->
<div class="ui breadcrumb">
  <a class="section" routerLink="/portal">หน้าหลัก</a>
  <i class="right angle icon divider"></i>
  <div class="active section">ผู้อนุมัติแทน</div>
</div>
<div class="ten wide column">
  <h2 class="ui header">
    <img class="img" src="assets/img/form.svg">
    <div class="content">
      กำหนดผู้อนุมัติแทน
      <div class="sub header">โดยผู้อนุมัติที่ท่านเลือกจะมีสิทธิ์อนุมัติแทนท่าน ในนามของผู้ที่ท่านเลือก</div>
    </div>
  </h2>
</div>
<br>
<table class="ui table">
  <tbody>
    <tr>
      <td class="wide two orange">ชื่อผู้อนุมัติแทน</td>
      <td>
        <select class="ui fluid search dropdown">
          <option value="AL">บดินทร์ ด้วงสงกา</option>
          <option value="AK">สายัณห์ พรหมปัญโญ</option>
          <option value="AZ">กฤตวัฒน์ สุวานิชย์</option>
          <option value="AR">ชนินธร เจนงามกุล</option>
          <option value="CA">ปรารถนา พ่วงบางโพ</option>
          <option value="CO">น้ำทิพย์ ผจงชวโรจน์</option>
          <option value="CT">ปุณยวีร์ เรืองอร่าม</option>
        </select>
      </td>
      <td class="wide one orange">สถานะ</td>
      <td class="wide one">
        <div class="ui left floated compact ">
          <div class="ui fitted huge toggle checkbox">
            <input type="checkbox">
            <label></label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
