<!-- <app-topmenu></app-topmenu> -->
<div class="ui breadcrumb">
  <a class="section" routerLink="/portal">หน้าหลัก</a>
  <i class="right angle icon divider"></i>
  <div class="active section">รายการรออนุมัติ</div>
</div>
<div class="ten wide column">
  <h2 class="ui header">
    <img class="img" src="assets/img/form.svg">
    <div class="content">
      รายการรออนุมัติ
      <div class="sub header"> รายการรออนุมัติ การร้องขอที่มีสิทธิ์อนุมัติ ตามระดับ</div>
    </div>
  </h2>
</div>
<table class="ui orange selectable line table">
  <thead>
    <tr>
      <th>วันที่ร้องขอ</th>
      <th>ชื่อผู้ขอ</th>
      <th>ประเภทการร้องขอ</th>
      <th>วัตถุประสงค์ในการขอใช้บริการ</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/approve/2/page">
      <td data-label="Name">16/09/2562</td>
      <td data-label="Name">สายัณห์ พรหมปัญโญ</td>
      <td data-label="Age">ขอยกเว้นนโยบาย/มาตรฐาน</td>
      <td data-label="Job">เพื่อทดสอบระบบ</td>
    </tr>
    <tr>
      <td data-label="Name">18/09/2562</td>
      <td data-label="Age">บดินทร์ ด้วงสงกา</td>
      <td data-label="Job">ขอยกเว้นนโยบาย/มาตรฐาน</td>
      <td data-label="Job">เพื่อใช้งานติดต่อลูกค้า</td>
    </tr>
    <tr>
      <td data-label="Name">19/09/2562</td>
      <td data-label="Age">บดินทร์ ด้วงสงกา</td>
      <td data-label="Job">ขอสิทธิ์ใช้งาน Internet</td>
      <td data-label="Job">ทำงาน</td>
    </tr>
  </tbody>
</table>
