<!-- <app-topmenu></app-topmenu> -->
<div class="ui {{loading}}  dimmer">
  <div class="ui large text yellow loader">Loading</div>
</div>
<div class="ui breadcrumb">
  <a class="section" routerLink="/portal">หน้าหลัก</a>
  <i class="right angle icon divider"></i>
  <a class="section" routerLink="/f001/list">รายการขอ</a>
  <i class="right angle icon divider"></i>
  <div class="active section">แบบฟอร์ม</div>
</div>
<h2 class="ui header">
  <img class="img" src="assets/img/form.svg">
  <div class="content">
    ขอทำบัตรประจำตัวพนักงานใหม่
    <div class="sub header"> ขอทำบัตรประจำตัวพนักงานใหม่ บัตรสูญหาย บัตรชำรุด เปลี่ยนชื่อ เปลี่ยนนามสกุล
    </div>
  </div>
</h2>
<div class="ui pointing secondary menu yellow " id="tabfrom">
  <a class="item active" data-tab="personal" (click)="scrollUp()">
    รายละเอียดผู้ขอ
  </a>
  <a class="item" data-tab="typee" (click)="scrollUp()">บริการที่ต้องการ</a>
  <a class="item " data-tab="formimg" (click)="scrollUp()">อัพโหลดรูป</a>
  <a class="item " data-tab="formfill" (click)="scrollUp()">ประสงค์รับบัตร</a>
  <a class="item" data-tab="confirm" (click)="scrollUp()">ยืนยันข้อมูล</a>
</div>
<div class="ui active tab" data-tab="personal">
  <div class="ui segment stacked ">
    <h3 class="ui header">
      <img class="ui image" src="assets/img/icons8-checked-identification-documents-64.png">
      <div class="content " style="color: #FFC423">
        รายละเอียดผู้ขอทั่วไป
      </div>
    </h3>
    <table class="ui table">
      <tbody>
        <tr>
          <td class="wide three yellow">ชื่อ-สกุล (ไทย)</td>
          <td class="wide five">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.Thainame" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
          <td class="wide two yellow">รหัสพนักงาน</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.EmployeeId" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="yellow">ตำแหน่ง/ระดับ</td>
          <td>
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.Section" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
          <td class="yellow">กลุ่มธุรกิจ</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.Phone" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="yellow">กลุ่มงาน</td>
          <td>
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.Division" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
          <td class="yellow">สายงาน</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="UserFill.Mail" [ngModelOptions]="{standalone: true}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="yellow">ฝ่ายงาน</td>
          <td>
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
          <td class="yellow">กลุ่ม</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
        </tr>
        <tr>
          <td class="yellow">งาน</td>
          <td>
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
          <td class="yellow">ทีม</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
        </tr>
        <tr>
          <td class="yellow">ชั้น</td>
          <td>
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
          <td class="yellow">เบอร์ติดต่อ</td>
          <td colspan="3">
            <div class="ui fluid input">
              <input type="text">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="ui fluid yellow big right floated button" (click)="tabGoTo('typee')">ยืนยันข้อมูล</button>
</div>
<div class="ui tab " data-tab="typee">
  <div class="ui stacked segment "> <br> <br>
    <div class="ui one column stackable centered  stacked page grid">
      <h3 class="ui header">
        <img class="ui image" src="assets/img/icons8-transaction-list-64.png">
        <div class="content " style="color: #FFC423">
          เลือกบริการ
        </div>
      </h3>
      <div class="column twelve wide ui form">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="dataform.ServiceSelect.divice">
            <label>บัตรสูญหาย จำนวน 200 บาท</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="dataform.ServiceSelect.vpn">
            <label>บัตรชำรุด จำนวน 100 บาท</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="dataform.ServiceSelect.ssss">
            <label>เปลี่ยนชื่อ</label>
          </div>
          <div class="inline fields">
            <div class="field">
              <label>จาก</label>
              <input type="text" name="" id="">
            </div>
            <div class="field">
              <label>เป็น</label>
              <input type="text" name="" id="">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="dataform.ServiceSelect.social">
            <label>เปลี่ยนนามสกุล</label>
          </div>
          <div class="inline fields">
            <div class="field">
              <label>จาก</label>
              <input type="text" name="" id="">
            </div>
            <div class="field">
              <label>เป็น</label>
              <input type="text" name="" id="">
            </div>
          </div>
        </div>
      </div>
    </div>
    โดยข้าพเจ้ายินยอมให้ธนาคารฯ หักค่าใช้จ่ายในการทำบัตรประจำตัวพนักงานใหม่จากบัญชีออมทรัพย์
    ซึ่งเป็นบัญชีเงินเดือนของข้าพเจ้า จำนวน....................บาท (หมายเหตุ)<br> <br>
    <strong>หมายเหตุ</strong><br>
    - หากพนักงานได้รับการอนุมัติการทำบัตรประจำตัวพนักงานใหม่ภายในวันที่ 10 ของเดือน
    ระบบจะทำการหักค่าใช้จ่ายในรอบบัญชีเงินเดือน เดือนเดียวกัน <br>
    - หากพนักงานได้รับการอนุมัติการทำบัตรประจำตัวพนักงานใหม่หลังจากวันที่ 10 ของเดือนเป็นต้นไป
    ระบบจะทำการหักค่าใช้จ่ายในรอบบัญชีเงินเดือน เดือนถัดไป <br>
  </div>

  <button class="ui fluid yellow big right floated button" (click)="tabGoTo('formfill')">ยืนยันข้อมูล</button>
</div>
<div class="ui tab " data-tab="formimg">
  <div class="ui form centered segment stacked">
    <h3 class="ui header">
      <img class="ui image" src="assets/img/icons8-checked-identification-documents-64.png">
      <div class="content " style="color: #FFC423">
        อัพโหลดรูป
      </div>
    </h3>
    <img class="ui image centered" src="assets/img/profile.png"><br>
    <input type="file" name="" id="">
  </div>
  <br>
  <button class="ui fluid yellow big right floated button" (click)="tabGoTo('confirm')">ยืนยันข้อมูล</button>
  <br><br>
</div>
<div class="ui tab " data-tab="formfill">
  <div class="ui form segment stacked">
    <h3 class="ui header">
      <div class="content ">
        เมื่อได้รับอีเมลยืนยันการรับบัตรประจำตัวพนักงานใหม่แล้ว ข้าพเจ้าประสงค์รับบัตรโดยช่องทาง (หมายเหตุ)
      </div>
    </h3>
    <div class="column twelve wide ui form">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>รับด้วยตนเองที่ HR Service ชั้น 12</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>จัดส่งที่ตึก KSPO ชั้น</label>
        </div>
        <div class="field">
          <label></label>
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="inline fields">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>จัดส่งที่สาขา</label>
        </div>
        <div class="field">
          <label></label>
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="inline fields">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>จัดส่งที่ศูนย์ธุรกิจ/สำนักงานภาค ที่อยู่</label>
        </div>
        <div class="field">
          <label></label>
          <input type="text" name="" id="">
        </div>
        <div class="field">
          <label>อาคาร</label>
          <input type="text" name="" id="">
        </div>
        <div class="field">
          <label>ชั้น</label>
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="inline fields">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>จัดส่งที่ตึก</label>
        </div>
        <div class="field">
          <label></label>
          <input type="text" name="" id="">
        </div>
        <div class="field">
          <label>ชั้น</label>
          <input type="text" name="" id="">
        </div>
      </div>
    </div>
    <strong>หมายเหตุ</strong> <br>
    - สำหรับพนักงานที่ปฏิบัติงานอยู่ ณ สำนักงานใหญ่: ติดต่อรับที่ HR Service ชั้น 12<br>
    - สำหรับพนักงานที่ปฏิบัติงานอยู่ ณ KSPO, ต้นสน, พลินจิตทาวเวอร์, All season, บางนาทาวเวอร์ หรือ
    สาขาส่วนกลาง:ฝ่ายปฏิบัติการทรัพยากรบุคคลนำส่งตามที่อยู่สาขาผ่านช่องทาง Clearing<br>
    - สำหรับพนักงานที่ปฏิบัติงานอยู่ ณ สาขาส่วนภูมิภาค: ฝ่ายปฏิบัติการทรัพยากรบุคคลนำส่งตามที่อยู่สาขาทางไปรษณีย์<br>
  </div>
  <br>
  <button class="ui fluid yellow big right floated button" (click)="tabGoTo('confirm')">ยืนยันข้อมูล</button>
  <br><br>
</div>
<div class="ui tab " data-tab="confirm">
  <div class="segment stacked ui form">
    <h3 class="ui header">
      <img class="ui image" src="assets/img/icons8-checked-identification-documents-64.png">
      <div class="content " style="color: #FFC423">
        รายละเอียดผู้ขอทั่วไป
      </div>
    </h3>
    <table class="ui table">
      <tbody>
        <tr>
          <td class="wide three yellow">ชื่อ-สกุล (ไทย)</td>
          <td class="wide five">

          </td>
          <td class="wide two yellow">รหัสพนักงาน</td>
          <td colspan="3">

          </td>
        </tr>
        <tr>
          <td class="yellow">ตำแหน่ง/ระดับ</td>
          <td>

          </td>
          <td class="yellow">กลุ่มธุรกิจ</td>
          <td colspan="3">

          </td>
        </tr>
        <tr>
          <td class="yellow">กลุ่มงาน</td>
          <td>

          </td>
          <td class="yellow">สายงาน</td>
          <td colspan="3">
          </td>
        </tr>
        <tr>
          <td class="yellow">ฝ่ายงาน</td>
          <td>
          </td>
          <td class="yellow">กลุ่ม</td>
          <td colspan="3">
          </td>
        </tr>
        <tr>
          <td class="yellow">งาน</td>
          <td>
          </td>
          <td class="yellow">ทีม</td>
          <td colspan="3">
          </td>
        </tr>
        <tr>
          <td class="yellow">ชั้น</td>
          <td>
          </td>
          <td class="yellow">เบอร์ติดต่อ</td>
          <td colspan="3">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="ui fluid yellow big right floated button" (click)="test('req')">ส่งคำขอ</button>
  <!-- <button class="ui fluid yellow big right floated button"  routerLink="/f001/list">ส่งคำขอ</button> -->
</div>
<div style="height: 5em"></div>
